//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://dafi.inf.um.es/CodeCamp/[nc]
RewriteRule ^(.*)$ http://www.https://dafi.inf.um.es/CodeCamp//$1 [r=301,nc]

//Custom 400 errors
ErrorDocument 400 https://dafi.inf.um.es/CodeCamp/

//Custom 401 errors
ErrorDocument 401 https://dafi.inf.um.es/CodeCamp/

//Custom 403 errors
ErrorDocument 403 https://dafi.inf.um.es/CodeCamp/

//Custom 404 errors
ErrorDocument 404 https://dafi.inf.um.es/CodeCamp/

//Custom 500 errors
ErrorDocument 500 https://dafi.inf.um.es/CodeCamp/

//Change default directory page
DirectoryIndex https://dafi.inf.um.es/CodeCamp/
 
